<!-- <app-body></app-body> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-register-page></app-register-page> -->
<!-- <app-forgot-password-page></app-forgot-password-page> -->
<!-- <app-dashboard></app-dashboard> -->
<router-outlet></router-outlet>
<!-- <app-add-task></app-add-task> -->
<!-- <app-change-password></app-change-password> -->
<!-- <app-new-project></app-new-project> -->
<!-- <app-today-tasks></app-today-tasks> -->
<!-- <app-page-not-found></app-page-not-found> -->