<body>
<app-header></app-header>
<div class="mainDiv">
        <!-- <span> -->
            <!-- <h1 class="logo">Letrero</h1> -->
            <!-- <h4 style="color:white;display: inline-block;font-size:30px;">etrero</h4> -->
        <!-- </span> -->
    <div class="formDiv">
        <h1 style="color: black;font-weight: bolder;font-size:40px;">Forgot Password!</h1>

        <form [formGroup]="forgotPasswordForm" style="width: 100%;">
            <mat-form-field class="inputBox" >
                <mat-label class="formField"><i class="fa-solid fa-envelope" style="margin-right:10px;"></i>Email</mat-label>
                <input matInput class="input"  formControlName="email">
            </mat-form-field>
                <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)" style="width: fit-content;">
                    <div class="error" [hidden]="!email.errors?.['required']">
                        Email is required
                    </div>
                    <div class="error" [hidden]="!email.errors?.['pattern'] && !email.errors?.['email']">
                        Enter valid email address
                    </div>
                </div>
              <br>
              <!-- <button id="button" (click)="onLogin()">Log in</button> -->
            </form>
            <div id="anchor"><a (click)="sendForgottenMail()" style="cursor: pointer;">Send mail</a></div>
            <div id="anchor"><a (click)="goToLoginPage()" style="cursor: pointer;">Go to login page</a></div>
    </div>
    <div>
        <img src="assets\kanban-board-768x501.png" alt="">
    </div>
</div>
<app-footer></app-footer>
</body>