<div>
    <h2 style="text-align: center;">Change Password</h2>
    <form  [formGroup]="changePassDetails" >
        <mat-form-field class="inputBox" style="width: 90%;">
            <mat-label class="formField">Old Password</mat-label>
            <input matInput class="input"   type="text" formControlName="oldPassword" >

        </mat-form-field>
        <!-- <div *ngIf="!oldPassword?.valid && oldPassword?.touched" style="width: fit-content;" class="error">
            Required & min 8 char (At least 1 upper case,lower case,number & symbol)
        </div> -->
        <br>

        <mat-form-field class="inputBox" style="width: 90%;">
            <mat-label class="formField"><i class="fa-solid fa-key" style="margin-right:10px;"></i>Enter new Password</mat-label>
            <input matInput class="input"   type="password" formControlName="newPassword" pattern="(?=.*[*&$@!.])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </mat-form-field>
        <div *ngIf="!newPassword?.valid && newPassword?.touched" style="width: fit-content;" class="error">
            Min 8 char (At least 1 upper case,lower case,number & symbol)
        </div>
        <br>

        <mat-form-field class="inputBox" style="width:90%;">
            <mat-label class="formField"><i class="fa-solid fa-lock" style="margin-right:10px;"></i>Confirm Password</mat-label>
            <input matInput class="input"  type="password" formControlName="confirmPassword">
        </mat-form-field>
        <div *ngIf="!confirmPassword?.valid && confirmPassword?.touched" style="width: fit-content;" class="error">
            Required & same as password
        </div>

          <br>
          <button mat-raised-button color="primary" [disabled]="!changePassDetails.valid" (click)="save()">Change</button>
          <!-- <button id="button" [disabled]="!changePassDetails.valid" (click)="save()">Save</button> -->
        </form>
</div>