<footer>
<div id="foot">
<div class="main1">
  <!-- Footer-links -->
  <ul>
    <li><strong>
        <!-- Footer Header -->
        <h4>ABOUT</h4>
      </strong></li>
    <li>It is a task management tool specialized in arranging tasks for large corporates using Kanban theory.</li>
  </ul>
</div>
<!-- <div class="main2">
  <ul>
    <li><strong>
        <p>SERVICES</p>
      </strong></li>
      <div class="i">
    <li><a  href="#"><i aria-hidden="true"></i> Conferences</a></li>
    <li><a  href="#"><i aria-hidden="true"></i> Executive Retreats</a></li>
    <li><a  href="#"><i aria-hidden="true"></i> Team Building events</a></li>
  </div>
  </ul>
</div> -->

<div class="main3">
  <!-- Footer-links -->
  <ul>
    <li><strong>
        <!-- Footer Header -->
        <p>COMPANY</p>
      </strong></li>
    <li><a href="#"><i aria-hidden="true"></i> Home</a></li>
    <li><a href="#"><i aria-hidden="true"></i> About</a></li>
    <!-- <li><a href="#"><i aria-hidden="true"></i> Contact</a></li> -->
  </ul>
</div>
<div class="main4">
  <!-- Footer-links -->
  <ul>
    <li><strong>
        <!-- Footer Header -->
        <p>CONTACT</p>
      </strong></li>
      <!-- <li><i class="fa fa-phone" aria-hidden="true"></i> +27 000 0004l</li> -->
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:letreroapp@gmail.com" class="mail">letreroapp@gmail.com</a></li>
    <!-- <li><i class="fa fa-map-marker" aria-hidden="true"></i> 1 Street. NYC</li> -->
  </ul>
</div>

<!-- <div class="main5">
  <ul>
    <li><a class="icon" href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a class="icon" href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a class="icon" href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a class="icon" href="#"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
</div> -->
</div>
</footer>